<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <div th:fragment="links">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- COmmon styles  -->
        <!--        необходимо заменить на локальные версии шрифтов -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!--        -->
        <link rel="stylesheet" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css"
              href="../static/css/normalize.css" th:href="@{/css/normalize.css}"/>
        <link rel="stylesheet" type="text/css"
              href="../static/css/header-styles.css" th:href="@{/css/header-styles.css}"/>
        <link rel="stylesheet" type="text/css"
              href="../../static/css/media/header-media.css" th:href="@{/css/media/header-media.css}"/>
        <link id="favicon" rel="shortcut icon" type="image/x-icon" href="../../static/favicon.ico"
              th:href="@{favicon.ico}"/>
    </div>
</head>
<body>

<header th:fragment="header">
    <div class="min_header">
        <div id="menuToggle">
            <input type="checkbox" />
            <span id="span1"></span>
            <span id="span2"></span>
            <span id="span3"></span>
        </div>
        <div class="logo_min">
            <img src="images/header/logo.png" alt="">
        </div>
    </div>
    <div class="bg_black_header"></div>
    <div class=" header-container bg-light nav_first">
        <nav class="navbar navbar-expand-sm navbar-light header-element">
            <div class="d-flex justify-content-between align-items-center">
                <ul class="navbar-nav mr-auto" id="avitoNavigation">

                </ul>
                <ul class="navbar-nav sign_up">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="favourites"></span>
                            <svg xmlns="http://www.w3.org/2000/svg" th:title="Избранное" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="#" style="white-space: nowrap">Вход и регистрация</a>
                    </li>
                    <li class="nav-item d-flex justify-content-lg-center align-items-center">
                        <a class="btn btn-primary" href="#">Подать объявления</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class=" header-container nav_second">
        <nav class="navbar navbar-expand-sm navbar-light bg-white header-element ">
            <div class="d-flex justify-content-between align-items-center">
                <div class="logo">
                    <img src="images/header/logo.png" alt="">
                </div>
                <ul class="navbar-nav mr-auto category_link" id="header_category_list">

                </ul>
            </div>
        </nav>
    </div>
    <div class=" header-container search">
        <form class=" header-element">
            <div class="form-row justify-content-center">
                <select class="form-control col-8 col-sm-8  col-md-3 col-lg-2" id="findFromCategory">
                    <option selected value>Любая категория</option>
                </select>
                <div class="form-group col-8 col-sm-8  col-md-5 col-lg-8">
                    <input type="text" placeholder="Поиск по объвлениям" class="form-control">
                </div>
                <select class="form-control col-8 col-sm-8  col-md-2 col-lg-1">
                    <option>Москва</option>
                </select>
                <div class="col-8 col-sm-8 col-md-2 col-lg-1">
                    <button type="button" class="btn btn-light">Найти</button>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">только в названиях</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">только с фото</label>
                </div>
            </div>
        </form>
    </div>
    <a href="#" class="btn btn-primary open_search">Поиск</a>
</header>


<div th:fragment="script">
    <script src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="webjars/popper.js/1.16.0/popper.min.js"></script>
    <script src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="../../static/js/header.js" th:src="@{/js/header.js}"></script>
</div>
</body>
</html>
