<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Avito clone</title>
    <div th:replace="~{fragments/header.html :: links}"></div>
</head>
<body>


<div th:replace="~{fragments/header.html :: header}"></div>


<div class="container-fluid mt-3 container_cus">
    <div class="row ml-4 mr-4 justify-content-around" id="allContent">
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="adDetails" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 24rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
    </div>
    <div class="row ml-4 mr-4 justify-content-around mt-5">
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
    </div>
    <div class="row ml-4 mr-4 justify-content-around mt-5">
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
    </div>
    <div class="row ml-4 mr-4 justify-content-around mt-5">
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
    </div>
    <div class="row ml-4 mr-4 justify-content-around mt-5">
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
    </div>
    <div class="row ml-4 mr-4 justify-content-around mt-5">
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
        <div class="card col-2" style="width: 18rem;">
            <img src="/images/image-placeholder.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок объявления</h5>
                <p class="card-text">Краткое описание объявления.</p>
                <a href="#" class="btn btn-primary">Перейти к объявлению</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/header.html :: script}"></div>
</body>
</html>