<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Sign in to Avito</h2>
        <p>
            <label for="email">Email address</label>
            <input id="email" name="email" type="email" class="form-control" placeholder="Your email" required autofocus>
        </p>
        <p>
            <label for="password">Password</label>
            <input id="password" name="password" class="form-control" type="password" placeholder="Password" required>
        </p>
        <button type="submit" class="btn btn-success btn-lg btn-block">Sign in</button>
    </form>
</div>
</body>
</html>