<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

    <title>Users</title>
</head>
<body>
<table>
    <thead id="theadUsers">
        <tr>
            <td>id</td>
            <td>login</td>
            <td>publicName</td>
            <td>password</td>
            <td>roles</td>
        </tr>
    </thead>
    <tbody id="tbodyUsers">
    </tbody>
</table>
<script src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="webjars/jquery-ui/1.11.1/jquery-ui.min.js"></script>
<script src="webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script src="js/users.js"></script>
</body>
</html>