<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
    <thead id="theadUsers">
        <tr>
            <td>id</td>
            <td>login</td>
            <td>publicName</td>
            <td>password</td>
            <td>roles</td>
        </tr>
    </thead>
    <tbody id="tbodyUsers">
    </tbody>
</table>
<script src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="webjars/jquery-ui/1.11.1/jquery-ui.min.js"></script>
<script src="js/users.js"></script>
</body>
</html>